button{
  display: block;
}

#buscar{
  background-color:gainsboro;
  border: 2px solid lightseagreen;
  border-radius: 25px;
  color: lightseagreen;
  height: 30px;
  width: 100px;
}

#mas{
  background-color: lightseagreen;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  height: 30px;
  width: 30px;
  font-size: large;
}

#crear-usuario{
  background-color:cornflowerblue;
  border: 2px solid black;
  color: white;
  height: 30px;
  width: 200px;
  box-shadow: 5px 5px black;
}